body{
    margin-left: 10px;
}

label{
    display: block;
    width: 400px;
    outline: 1px solid black;
    text-align: center;
    background-color: yellow;
}

a{
    display: block;
    width: 400px;
    color: blue;
}

a:hover{
    color: green;
}