table{ 
    border-style: solid;
    border-width: 5px;
    border-top-color: violet;
    border-bottom-color: bisque;
    border-left-color: dodgerblue;
    border-right-color: khaki;
    color: white;
    text-align: center;
}

td{
    border-style: dashed;
    border-width: 2px;
    border-color: darkslategrey;
}

tr{
    border-style: dotted;
}

.red{ 
    background-color: red;
}

.green{ 
    background-color: green;
}

.yellow { 
    color: black;
    background-color: yellow;
}

#black { 
    background-color: black;
    border-radius: 20px;
}