body{
    background-color: #fafafafa;
    font-size: 25px;
}

div {
    display: flex;
    justify-content: center;
}

input {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 50px;
}

.container div {
    margin-bottom: 20px;
}

h1 {
    font-size: 45px;
    text-align: center;
}